@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Codystar';
    background: black;
    animation: glow2 1s ease-in-out infinite alternate;
}

.neons {
    margin-top: 15rem;
    text-align: center;
}

.neons h1 {

    font-size: 5rem;
    text-align: center;
    font-weight: bold;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        color: #fff;
        text-shadow: 0 0 10px rgb(100, 3, 92), 0 0 20px rgb(100, 3, 92), 0 0 30px rgb(100, 3, 92), 0 0 40px rgb(100, 3, 92), 0 0 50px rgb(100, 3, 92), 0 0 60px rgb(100, 3, 92), 0 0 70px rgb(100, 3, 92), 0 0 90px ;
    }

    to {
        color: gray;
    }
}

@keyframes glow2 {
    from {
        background: black;
    }

    to {
        background: rgb(10, 10, 10);
    }
}