body {
  background-color: #212121;
  color: #212121;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

h1 {
  margin: 13rem auto;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  font-family: "Teko", sans-serif;
  font-size: 10rem;
  animation: glow 0.5s ease-in-out infinite alternate;
  text-align: center;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px red;
  }
  to {
    text-shadow: 0 0 30px red, 0 0 10px red;
  }
}
